In [1]:
import numpy as np
import pandas as pd
import prepare_datasets_ADNI

/home/laura/.local/lib/python3.8/site-packages/setuptools/distutils_patch.py:25: UserWarning: Distutils was imported before Setuptools. This usage is discouraged and may exhibit undesirable behaviors or errors. Please use Setuptools' objects directly or at least import Setuptools first.
  warnings.warn(
/home/laura/.local/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [16]:
data = pd.read_csv('results/ADNI_data_with_clusters.csv', index_col=0)
data[['DX_bl', 'MMSE_bl']].groupby(by='DX_bl').describe()

      MMSE_bl
        count       mean       std   min   25%   50%   75%   max
DX_bl
CN      159.0  29.050314  1.129572  24.0  29.0  29.0  30.0  30.0
EMCI    111.0  28.207207  1.629931  23.0  27.5  29.0  29.0  30.0
LMCI     99.0  27.515152  1.722383  24.0  26.0  28.0  29.0  30.0
SMC      50.0  29.040000  1.194545  24.0  29.0  29.0  30.0  30.0

In [18]:
data[['DX_bl', 'PTGENDER', 'APOE4']].groupby(by='DX_bl').describe(include=object)

      PTGENDER                      APOE4
         count unique     top freq  count unique  top   freq
DX_bl
CN         159      2    Male   80  159.0    3.0  0.0  120.0
EMCI       111      2    Male   64  111.0    3.0  0.0   68.0
LMCI        99      2    Male   61   99.0    3.0  0.0   48.0
SMC         50      2  Female   30   50.0    3.0  0.0   35.0

In [52]:
hcsc_data = pd.read_csv('data/HCSC/LCR_Clinico.csv', index_col='NHC_LCR')
hcsc_data_num = round(hcsc_data.groupby(by='DxclinBreve')[['Edadactual', 'Escolaridad', 'MMSE']].describe(percentiles=[]), 2)
hcsc_data_num = hcsc_data_num.reindex(index = ['EA GDS3', 'EApreMCI', 'Control/QSM', 'Otros'])
hcsc_data_num.T

DxclinBreve        EA GDS3  EApreMCI  Control/QSM  Otros
Edadactual  count    65.00     28.00        44.00  33.00
            mean     74.77     74.04        65.84  66.52
            std       5.23      5.93         9.46  10.16
            min      60.00     61.00        46.00  33.00
            50%      75.00     74.00        68.00  67.00
            max      85.00     84.00        82.00  83.00
Escolaridad count    59.00     27.00        37.00  29.00
            mean     10.71      8.93        12.08  12.10
            std       4.56      5.20         4.39   5.44
            min       2.00      1.00         6.00   2.00
            50%      10.00      8.00        12.00  12.00
            max      18.00     18.00        18.00  18.00
MMSE        count    48.00     18.00        30.00  16.00
            mean     24.38     26.39        28.03  26.88
            std       3.55      2.55         1.97   2.33
            min      13.00     21.00        21.00  23.00
            50%      25.00     26.00        28.00  26.00
            max      29.00     30.00        30.00  30.00

In [51]:
hcsc_des_cat = hcsc_data.groupby(by='DxclinBreve')[['Sexo']].describe(include=object)
hcsc_des_cat = hcsc_des_cat.reindex(index = ['EA GDS3', 'EApreMCI', 'Control/QSM', 'Otros'])
hcsc_des_cat.T

DxclinBreve EA GDS3 EApreMCI Control/QSM  Otros
Sexo count       65       28          44     33
     unique       2        2           2      2
     top      mujer    mujer       mujer  mujer
     freq        34       17          22     18